*{
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: 'auth';
	src: url('auth.otf');
}
@font-face{
	font-family: 'authbold';
	src: url('authbold.otf');
}
body{
	background-color: whitesmoke;
}
#nav{
	margin: 50px 0 20px 0;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 20vmin;
}
#nav a, .link{
	font-family: 'auth';
	color: black;
	transition: .08s;
}
#logo a{
	font-size: 8vmin;
	text-decoration: none;
}
#nav a:hover, .link:hover{
	color: greenyellow;
	text-shadow: 1px 1px 5px greenyellow;
}
#links{
	text-align: center;
	width: 40%;
	display: flex;
	justify-content: spa;
}
.tab{
	width: 100%;
	margin: 0 3%;
}
.tab .link{
	font-size: 4.5vmin;
	padding: 6px 15px 0 15px;
	border: solid 2px black;
	text-decoration: none;
	border-radius: 50px;
}
.tab .link:hover{
		cursor: pointer;
		border: solid 2px greenyellow;
}
#feed{
	position: relative;
	background-color: ;
	width: 70vw;
	height: auto;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-around;
	visibility: visible;
}
img{
	width: 100%;
}
.feedbox{
	color: black;
	font-family: serif;
	font-size: 3vmin;
	font-weight: 100;
	margin: 7% 3% ;
	min-width: 18%;
	max-width: 100px;
	background-color: ;
	text-align: end;
}
.songname{
}
#radioplayer{
	visibility: hidden;
	width: 80%;
	height: 60%;
	left: 0;
	right: 0;
	margin: auto;
	top: 30vmin;
	position: absolute;
	
}
@media only screen and (max-device-width: 600px) {
	#links{
		width: 80%;
		margin-top: 2%;
	}
	#feed{
		flex-basis: 20%;
	}
	#nav{
		flex-flow: column;
		height: auto;
	}
	.feedbox{
		min-width: 35%;
	}
	#radioplayer{
		top: 40vmin;
	}
}